.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: blue;
}


.section-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid blue;
    width: 50vw;
    margin-left: 30vw;
    margin-top: 50px;
}

.section-2-1{
    min-width: fit-content; 
    padding: 3px 2px 3px 2px;
    margin: 2px;
    color: white;
    font-weight: bold;
    background-color : rgba(91, 76, 95, 0.503);
    align-items: center;
    border-radius: 10px; 
    justify-content: center;
    display: flex;
    height: 60px;
    width: 15vw;
    justify-content: space-evenly;
    align-items: center;
}

.section-3{
    margin-top: 10px;
    margin-left: 30vw;
    width: 40%; /* Set the desired width */
    height: 200px; /* Set the desired height */
    overflow: auto; /* Add a scrollbar when content overflows */
    border: 1px solid #ddd; 
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.section-3-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 0px 2px 0px 2px;
}
.section-3-1:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.569);
    padding: 0px 2px 0px 2px;
    border-radius: 5px;
}

button{
    background: none;
    border: none;
}

.section-p{
    position: relative;
    min-width: fit-content;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #3498db;
}
.section-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

input{
    border: none;
    font-size: large;
    outline: none;
    height: 30px;
}